@font-face {
  font-family: 'NanumEomMaSaRang';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEomMaSaRang/NanumEomMaSaRang.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEomMaSaRang/NanumEomMaSaRang.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEomMaSaRang/NanumEomMaSaRang.ttf') format('truetype');
}